[submodule "source/plumber"]
	path = dependencies/plumber
	url = https://github.com/38/plumber.git
[submodule "source/plumberv8"]
	path = dependencies/plumberv8
	url = https://github.com/38/plumberv8.git
